<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doubtify</title>
    <link rel="stylesheet" href="styles/main2.css">
</head>
<body>
    <h1>Welcome to Doubtify!</h1>

    <div class="button-container">
        <a href="/register" class="register-btn">Register</a>
        <a href="/login" class="login-btn">Login</a>
    </div>

</body>
</html>
