<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doubtify</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>Login Now</h1>
<form class="reg_form" action="/home" method="POST">
    <div class="input-container">
        <input type="email" name="email" placeholder="Enter your username..." required>
        <span class="error-message"></span>
    </div>
    <div class="input-container">
        <input type="password" name="password" placeholder="Enter your password..." required>
        <span class="error-message"></span>
    </div>
    <div class="input-container">
        <input type="submit" value="Submit" class="submit-btn">
    </div>
</form>

 
</body>
</html>