
.str-head{
  font-size: 5rem ;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgb(113, 44, 249);
}
.str-p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
}
.str-span{
    color: rgb(113, 44, 249);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 1.2rem;
}
.btn-startpage1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
}
.btn-startpage2{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
}