<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>User List</h1>
    <ul>
      <% users.forEach(user => { %>
      <li><%= user.name %></li>
      <% }) %>
    </ul>
    <a href="/upload">Upload Image</a>
    <a href="/images">View Images</a>
  </body>
</html>
