body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Space buttons evenly */
    width: 300px; /* Adjust width as needed */
}

.register-btn,
.login-btn {
    background-color: #3399FF; /* Blue button color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none; /* Remove underline for links */
}

.register-btn:hover,
.login-btn:hover {
    background-color: #2EAAC1; /* Slightly darker blue on hover */
}
